

:root {
    --mint-green: #2dc997;
    --cool-blue: #e285da;
    --cooler-blue: rgba(84, 151, 228, 1);
    --cooler-blue-shadow: rgba(84, 151, 228, .3);
}

html{scroll-behavior:smooth}

body {position: relative; height: 100%; min-width: 1280px; background: rgb(29, 27, 28); transition: all 0.6s ease-in-out;}
/*********************************** HEADER ***********************************/
/* header logo (left) */

header {position: sticky; top: 0; display: block; text-align: center; height: 70px; border-bottom: 1px solid #fff; background: rgba(0, 0, 0, 0.06); z-index: 1000;}
header:hover {background: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.4);}
header:hover a, header:hover .menu a {color: #000;}

header h1 {position: absolute; left: 50px; top:0;}
header h1 a {display: block; width: 330px; height: 70px; display: flex; align-items: center; justify-content: center; color: #fff;}
header h1 a::before {content: ""; position: absolute; width: 82px; height: 86px; background: url(../asset/icons/businesscard.png) no-repeat; background-position: -23px -59px; left: -25px; transform: scale(0.4) translateY(4.5%); padding-right: 10px; margin-right: 10px;}


/* header menu */
header .menu {display: inline-block; position: absolute; right: 50px; top: 0;}
header .menu li {position: relative; float: left;}
header .menu li a {display: block; height: 70px; line-height: 70px; padding: 0 30px; font-size: 17px; color: #fff;}
/* menu hover effect */
header .menu li a::before {content: ""; position: absolute; width: 100%; height: 2px; left: 0; bottom: 0; background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); color: #fff; visibility: hidden; transform: scale(0); transition: all 0.3s ease-in-out 0s;}
header .menu li:hover::before, header .menu li:hover > a::before { visibility: visible; transform: scale(1);
}

/* Intro 회사소개 active */
header .menu li:nth-child(2) a::before {visibility: visible; transform: scale(1); height: 3px; background: linear-gradient(to right, #2193b0, #6dd5ed);}

/* dropdown icon */
header .menu li a i {padding-left: 8px;}
header .menu ul .dropdown {display: block; position: absolute; width: 100%; left: 0; margin-top: 1.2px; background: rgb(250, 249, 247); border: 1px solid #fff; visibility: hidden; opacity: 0; transition: all 0.3s ease-in-out 0.2s;}
header .menu ul .dropdown li {position: relative; width: 100%;}
header .menu ul .dropdown li a {display: block; height: 50px; line-height: 50px; transition: all 0.2s ease 0s; font-size: 14px; padding: 0; color: #000;}
header .menu ul .dropdown li a::before {display: none;}
header .menu ul .dropdown li a:hover {background: linear-gradient(to right, #2193b0, #6dd5ed); color: #fff;}
header .menu li:hover .dropdown {visibility: visible; opacity: 1;}


/******************************** TITLEPIC ***********************************/

.bg-shade {background-color:rgba(0, 0, 0, 0.3); /*살짝 투명한 검정으로 배경색*/ width:100%; min-height:290px; position: absolute;}
/* parallax effect bg */
.titlepic {display: grid; justify-content: center; align-items: center; width: 100%; min-height: 290px; background: url(../asset/images/edm/cnc-edm-machining-1.jpg) 0 -200px  no-repeat; background-position: center; background-size: cover; background-attachment: fixed;}

.titlepic .text {font-size: 38px; width: 100%; color: #fff; z-index: 10;}



/********************************** CHMER ***********************************/

.chmer {position: relative; margin: 0 20% 0; min-height: 1920px; transition: all 0.9s ease-in-out 0s;}
/* yellow bar */

.chmer .yellow-bar{position: absolute; width: 0; height: 4px; top: 240px; left: -10%; background-position: center center; background-repeat: no-repeat; background-color: #f8b922; color: transparent; transition: all 0.8s ease-in-out 0s;}

.chmer span.introduction {position: absolute; top: 280px; left: -7%; font-size: 27px; font-family: 'Oswald', sans-serif; letter-spacing: 0.2em; color: #010101;}
/* CHMER website link */
.chmer > a {position: absolute; top: 50px; left: 50%; transform: translateX(-50%); background: url(../asset/images/edm/chmerlink.gif) no-repeat; width: 428px; height: 100px; color: transparent; z-index: 1;}
/* center line */
.chmer > a::before {content: ''; position: absolute; top: 100px; left: 50%; width: 1px; height: 1790px; background: #dbd7d7; opacity: 0.7; z-index: -1;}
/* chmer foundation img */
.chmer img.chmerbuilding {position: absolute; top: 240px; left: 40%; z-index: 1; width: 579px; height: 362px;}

/* foundation box */
.chmer p.p-foundation {position: absolute; width: 455px; top: 480px;left: 65%;  overflow-wrap: break-word; font-size: 16px; line-height: 1.8em; border: 1px #f8b922 solid; box-sizing: border-box; padding: 140px 40px 40px; z-index: 2; background: #fff; color: #666666;}
/* foundation box titles */
.chmer p.p-foundation > span.edm {position: absolute; left: 40px; top: 30px; font-family: 'Oswald', sans-serif; color: #f8b922; font-size: 32px; letter-spacing: 0.2em;}
.chmer p.p-foundation > span.foundation {position: absolute; left: 40px; top: 70px; font-family: 'Oswald', sans-serif; color: #333333; font-size: 32px; letter-spacing: 0.2em;}


.chmer img.rvslide {position: absolute; top: 670px; left: -10%; z-index: 1; width: 579px; height: 322px;}
/* awards box */
.chmer p.p-awards {position: absolute; width: 530px; top: 930px;left: -20%;  overflow-wrap: break-word; font-size: 16px; line-height: 1.8em; border: 1px #f8b922 solid; box-sizing: border-box; padding: 140px 40px 40px; z-index: 2; background: #fff; color: #666666;}
/* awards box title */
.chmer p.p-awards > span.history {position: absolute; left: 40px; top: 30px; font-family: 'Oswald', sans-serif; color: #f8b922; font-size: 32px; letter-spacing: 0.2em;}
.chmer p.p-awards > span.awards {position: absolute; left: 40px; top: 70px; font-family: 'Oswald', sans-serif; color: #333333; font-size: 32px; letter-spacing: 0.2em;}

.chmer img.chmermachines {position: absolute; top: 1060px; left: 55%; z-index: 1; width: 579px; height: 472px;}
/* chmermachine box */
.chmer p.p-machines {position: absolute; width: 405px; top: 1400px; left: 35%;  overflow-wrap: break-word; font-size: 16px; line-height: 1.8em; border: 1px #f8b922 solid; box-sizing: border-box; padding: 140px 50px 40px; z-index: 2; background: #fff; color: #666666;}
.chmer p.p-machines > span.today {position: absolute; left: 40px; top: 30px; font-family: 'Oswald', sans-serif; color: #f8b922; font-size: 32px; letter-spacing: 0.2em;}
.chmer p.p-machines > span.why {position: absolute; left: 40px; top: 70px; font-family: 'Oswald', sans-serif; color: #333333; font-size: 32px; letter-spacing: 0.2em;}


/*********************************** SUBNAV ***********************************/

.subnav {position: -webkit-sticky; position: sticky; bottom: 0; background: #fff; border-bottom: 1px solid #222; z-index: 900;}
.subnav .container {position: relative; display: flex; align-items: baseline; margin: 0 60px; padding: 10px 0 15px 0;}
.subnav .container .title {font-size: 10px;}
.subnav .container ul {display: flex; align-items: center; margin: 0 15px;} 
.subnav .container ul li {display: inline-block; position: relative; margin: 0 12px; padding: 0 5px 5px 5px; color: rgb(41, 40, 40); transition: all 0.3s ease-in-out 0s;}
.subnav .container ul li:hover {transform: scale(1.2); color: #2dc997; margin: 0 25px;}
.subnav .container ul .phone {font-size: 16px;}
.subnav .container ul .comment {display: inline-block; position: absolute; right: 0; display: flex; align-items: center;}
.subnav .container ul li p {font-size: 6px; position: absolute; right: 0; overflow-wrap: normal; width: 190px; color: rgb(145, 101, 20);}



/*********************************** next ***********************************/

.next {position: relative; display: flex; justify-content: center; min-height: 330px; background: #fff;}

.next a {position: relative; display: block; text-align: center; margin: 20px; box-sizing: border-box; transition: all 0.5s ease-in; border-top: groove 1px #f8b922; border-right: ridge 10px #f8b922;}

.next a:hover {transform: translateY(-15%);}
.next a:hover h2 {width: 97.5%; height: 97.5%; opacity: .5; background: rgb(255,255,255); background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(248,185,34,1) 82%, rgba(248,185,34,1) 100%); }

.next a h2 {position: absolute; top: 0; right: 0; color: #fff; background: #f8b922; width: 40%; height: 30px; text-align: center; font-size:20px; padding: 5px; transition: all 0.3s ease-in-out;}
.next a h2 i {padding-left: 10px; transform: translateY(-5%); font-size: 20px;}

.next img {width: 420px; height: 330px; box-sizing: border-box; overflow: hidden;}

/*********************************** EDM2 ***********************************/


.wirecut {position: relative; min-height: 1080px; }

/* CATEGORY */
.category {background: #e0aa2b;}

.category ul {display: flex; justify-content: center; align-items: center; min-width: 300px; color: #000; margin: 0px 400px;}

.category ul li {position: relative; height: 50px; width: 350px;}

.category ul li a {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; text-align: center; box-sizing: border-box; color: #fff; font-size: 17px; font-weight: 600; background: #e0aa2b; border-bottom: 5px ridge #fff; transition: all 0.3s ease-in-out;}

.category ul li a:hover {background: #f3cb6d;}

.category ul li a::after {content: ''; position: absolute; width: 2px; height: 16px; right: 0; top: 50%; transform: translateY(-40%); margin-top: -4px; background: #c29912;}
/* Hover effect */
.category ul li a::before {content: ""; position: absolute; width: 100%; height: 5px; left: 0; bottom: 0; background: linear-gradient(to right, #2193b0, #6dd5ed); color: #fff; visibility: hidden; transform: scale(0); transition: all 0.2s ease-in-out 0s;}
.category ul li:hover::before, .category ul li:hover > a::before  {visibility: visible; transform: scale(1);}

/* ------------------------------- */

/* ITEM GRID */
.items {position: absolute; left: 50%; transform: translateX(-50%); margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; z-index: 5; opacity: 0; transition: all 0.5s ease-in-out;}

.series-info {position: absolute; text-align: center; min-height: 480px; width: 1000px; margin: 0 auto; z-index: -1; top: 35px; padding: 0; font-size: 15px;}
.series-info h2 {padding: 12px;}

.wirecut .container {width: 1000px; display: grid; grid-template-columns: repeat(4, 1fr); justify-content: center; grid-gap: 35px; margin-top: 220px; }

.box {position: relative; width: 280px; height: 250px; background: #fff; box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);}
.box .imgBox {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.box .imgBox img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: 0.5s;}
.box:hover .imgBox img {opacity: 0;}

.box .content {position: absolute; bottom: 20px; left: 10%; width: 80%; height: 40px; background: #fff; transition: 0.5s; overflow: hidden; padding: 15px; box-sizing: border-box; background: #f8b922;}
.box:hover .content {width: 100%; height: 100%; left: 0; bottom: 0;}
.box .content h3 {text-align: center; margin: 0; padding: 0; font-size: 20px; color: #fff; transform: translateY(-30%);}
.box .content p {margin: 10px 0 0; padding: 0; opacity: 0; line-height: 1.2em; transition: 0.5s; text-align: center; transform: translateY(150%);}
.box:hover .content p {opacity: 1; transition-delay: 0.2s; color: #1d1d1d; font-size: 25.2px; text-align: center; transform: translateY(150%); font-weight: 250; letter-spacing: 3px;}

/* active or not */
.wirecut .active a::before {content: ""; position: absolute; width: 100%; height: 5px; left: 0; bottom: 0; background: linear-gradient(to right, #2193b0, #6dd5ed); color: #fff; visibility: visible; transform: scale(1);}
.wirecut .showing {z-index: 10; opacity: 1;}


/*********************************** EDM3 ***********************************/
.ds {min-height: 1200px;}
.ds .category ul li a {font-size: 15.5px;}
.drill {min-height: 720px;}


/******************************** FOOTER ********************************/

footer .footer {display: block; background: rgb(30, 32, 36); font-size: 0.75rem; color: rgba(255, 255, 255, 0.5); font-weight: 400; text-align: center; padding: 40px 0 30px;}
footer .footer p {display: inline-block; width: 300px; height: 40px; font-size: 20px; font-weight: bold;}

footer .footer ul {padding: 14px 0 14px;}
footer .footer ul li {position: relative; display: inline-block; font-style: 16px; padding: 0 10px;}
footer .footer ul li::after {content: ''; position: absolute; width: 1px; height: 8px; right: 0; top: 50%; margin-top: -4px; background: #70767a;}
footer .footer ul li:last-child::after {display: none;}
address {font-size: 12px; padding-top: 25px; border-top: 1px solid rgba(255, 255, 255, 0.5);}



/* subnav size modification */
@media (min-width: 1281px) and (max-width: 1420px){
    .subnav .container {margin: 0 15px 0 27px}
    .subnav .container ul {margin: 0 7px;}
    .subnav .container ul li {margin: 0 9px; padding: 0;}
    .subnav .container ul li p {font-size: 4px;}
}

@media (max-width: 1280px){
    .subnav .container ul li p {display: none;}
}