:root {
    --mint-green: #2dc997;
    --slideheight: 100vh;
    --slide-play-top: 86.5vh;
    --slide-circle-top: 87vh;
}

body {min-width: 1480px;}
/*********************************** HEADER ***********************************/
/* header logo (left) */

header {position: sticky; display: block; text-align: center; height: 70px; border-bottom: 1px solid #fff; background: rgba(0, 0, 0, 0.06); z-index: 7;}
header:hover {background: #fff; border-bottom: 1px solid var(--mint-green);}
header:hover a, header:hover .menu a {color: #000;}

header h1 {position: absolute; left: 50px; top:0;}
header h1 a {display: block; width: 330px; height: 70px; display: flex; align-items: center; justify-content: center; color: #fff;}
header h1 a::before {content: ""; position: absolute; width: 82px; height: 86px; background: url(../asset/icons/businesscard.png) no-repeat; background-position: -23px -59px; left: -20px; transform: scale(0.4) translateY(4.5%);}


/* header menu */
header .menu {display: inline-block; position: absolute; right: 50px; top: 0;}
header .menu li {position: relative; float: left;}
header .menu li a {display: block; height: 70px; line-height: 70px; padding: 0 30px; font-size: 17px; color: #fff;}
/* menu hover effect */
header .menu li a::before {content: ""; position: absolute; width: 100%; height: 2px; left: 0; bottom: 0; background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);color: #fff; visibility: hidden; transform: scale(0); transition: all 0.3s ease-in-out 0s;}
header .menu li:hover::before, header .menu li:hover > a::before { visibility: visible; transform: scale(1);
}

/* dropdown icon */
header .menu li a i {padding-left: 8px;}
header .menu ul .dropdown {display: block; position: absolute; width: 100%; left: 0; margin-top: 1.2px; background: rgb(250, 249, 247); border: 1px solid #fff; visibility: hidden; opacity: 0; transition: all 0.3s ease-in-out 0.2s;}
header .menu ul .dropdown li {position: relative; width: 100%;}
header .menu ul .dropdown li a {display: block; height: 50px; line-height: 50px; transition: all 0.2s ease 0s; font-size: 14px; padding: 0; color: #000;}
header .menu ul .dropdown li a::before {display: none;}
header .menu ul .dropdown li a:hover {background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);color: #fff;}
header .menu li:hover .dropdown {visibility: visible; opacity: 1;}

/*********************************** VISUAL SECTION ***********************************/
.visuals {display: block; height: 92.7vh;}
.visuals .main-slide {position: absolute; display: block; top: 0; left: 0; z-index: 0;}

/* slides */
.visuals .main-slide > div {opacity: 0; display: block; position: absolute; width: 100vw; height: var(--slideheight); transition: all 1s ease-in-out;}
.visuals .main-slide .showing {opacity: 1;}

/* slide text */
.visuals .main-slide .text-info {display: block; position: relative; width: 600px; color: #fff; z-index: 1; top: 25%; left: 8%; height: 300px; font-size: 60px; z-index: 4;}
.visuals .main-slide .text-info p.title {position: absolute; display: block; top: 0; padding: 10px 0;}
.visuals .main-slide .text-info p.quote {position: absolute; display: block; top: 100px; }

/* slide img */
.slide-grad {position: absolute; top: 0; left: 0; z-index: 3; background: rgba(0, 0, 0, 0.22); width: 100%; height: var(--slideheight);} 
.visuals .main-slide img {position: absolute; display: inline-block; width: 100vw; min-width: 1440px; height: var(--slideheight); top: 0;}

/* slide prev, next button */
.visuals .main-slide .prev,
.visuals .main-slide .next {position: absolute; display: block; top: var(--slide-play-top); color: #fff; font-size: 20px; z-index: 5; opacity: .4; transition: all 0.3s ease-in-out 0s; }
.visuals .main-slide .prev {left: 25px;}
.visuals .main-slide .next {left: 180px;}
.visuals .main-slide > a:hover {opacity: 1;}

/* slide bar circles */
.visuals .main-slide ul {position: relative; display: inline-block; font-size: 10px; z-index: 5; top: var(--slide-circle-top); left: 66px; opacity: .6; transition: all 0.3s ease-in-out 0s;}
.visuals .main-slide ul:hover {opacity: 1;}
.visuals .main-slide ul li {display: inline-block; padding: 0 3px;}
.visuals .main-slide ul li a {display: block; color: #fff;}


/*********************************** SUBNAV ***********************************/

.subnav {display: block; position: sticky; bottom: 0; top: 60px; background: #fff; border-bottom: 1px solid #222; }
.subnav .container {position: relative; display: flex; align-items: baseline; margin: 0 60px; padding: 10px 0 15px 0;}
.subnav .container .title {font-size: 10px;}
.subnav .container ul {display: flex; align-items: center; margin: 0 15px;} 
.subnav .container ul li {display: inline-block; position: relative; margin: 0 12px; padding: 0 5px 5px 5px; color: rgb(41, 40, 40); transition: all 0.3s ease-in-out 0s;}
.subnav .container ul li:hover {transform: scale(1.2); color: #2dc997; margin: 0 25px;}
.subnav .container ul .phone {font-size: 16px;}
.subnav .container ul .comment {display: inline-block; position: absolute; right: 0; display: flex; align-items: center;}
.subnav .container ul li p {font-size: 6px; position: absolute; right: 0; overflow-wrap: normal; width: 190px; color: rgb(145, 101, 20);}

