

:root {
    --mint-green: #2dc997;
    --cool-blue: #e285da;
    --cooler-blue: rgba(84, 151, 228, 1);
    --cooler-blue-shadow: rgba(84, 151, 228, .3);
    --slideheight: 100vh;
    --slide-play-top: 86.5vh;
    --slide-circle-top: 87.6vh;
}

html{scroll-behavior:smooth}

body {position: relative; height: 100%; min-width: 1280px; background: rgb(29, 27, 28); transition: all 0.6s ease-in-out;}
/*********************************** HEADER ***********************************/
/* header logo (left) */

header {position: sticky; top: 0; display: block; text-align: center; height: 70px; border-bottom: 1px solid #fff; background: rgba(0, 0, 0, 0.06); z-index: 1000;}
header:hover {background: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.4);}
header:hover a, header:hover .menu a {color: #000;}

header h1 {position: absolute; left: 50px; top:0;}
header h1 a {display: block; width: 330px; height: 70px; display: flex; align-items: center; justify-content: center; color: #fff;}
header h1 a::before {content: ""; position: absolute; width: 82px; height: 86px; background: url(../asset/icons/businesscard.png) no-repeat; background-position: -23px -59px; left: -20px; transform: scale(0.4) translateY(4.5%);}


/* header menu */
header .menu {display: inline-block; position: absolute; right: 50px; top: 0;}
header .menu li {position: relative; float: left;}
header .menu li a {display: block; height: 70px; line-height: 70px; padding: 0 30px; font-size: 17px; color: #fff;}
/* menu hover effect */
header .menu li a::before {content: ""; position: absolute; width: 100%; height: 2px; left: 0; bottom: 0; background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); color: #fff; visibility: hidden; transform: scale(0); transition: all 0.3s ease-in-out 0s;}
header .menu li:hover::before, header .menu li:hover > a::before { visibility: visible; transform: scale(1);
}

/* Intro 회사소개 active */
header .menu li:first-child a::before {visibility: visible; transform: scale(1); height: 3px; background: linear-gradient(to right, #2193b0, #6dd5ed);}

/* dropdown icon */
header .menu li a i {padding-left: 8px;}
header .menu ul .dropdown {display: block; position: absolute; width: 100%; left: 0; margin-top: 1.2px; background: rgb(250, 249, 247); border: 1px solid #fff; visibility: hidden; opacity: 0; transition: all 0.3s ease-in-out 0.2s;}
header .menu ul .dropdown li {position: relative; width: 100%;}
header .menu ul .dropdown li a {display: block; height: 50px; line-height: 50px; transition: all 0.2s ease 0s; font-size: 14px; padding: 0; color: #000;}
header .menu ul .dropdown li a::before {display: none;}
header .menu ul .dropdown li a:hover {background: linear-gradient(to right, #2193b0, #6dd5ed); color: #fff;}
header .menu li:hover .dropdown {visibility: visible; opacity: 1;}


/*********************************** TITLEPIC ***********************************/

.bg-shade {background-color:rgba(0, 0, 0, 0.5); /*살짝 투명한 검정으로 배경색*/ width:100%; min-height:290px; position: absolute;}
/* parallax effect bg */
.titlepic {display: grid; justify-content: center; align-items: center; width: 100%; min-height: 290px; background: url(../asset/images/titlepic/collab.jpg) 0 -200px  no-repeat; background-position: center; background-size: cover; background-attachment: fixed; }

.titlepic .text {font-size: 38px; width: 100%; color: #fff; z-index: 10;}

/****************************** INTRO SECTION ********************************/

.intro-section {max-width: 850px; margin: 60px auto; padding: 60px 30px; text-align: center;}

.intro-section img {width: 100%; border-radius: 50%; z-index: 11; transition: all 0.4s ease-in-out 0s; box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);}
.intro-section img:hover {transform: scale(1.1); box-shadow: 12px 12px 15px 12px #FF8080, -9px 12px 15px 12px #FFE488, -7px -12px 15px 12px #8CFF85, 12px -12px 15px 12px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 12px 12px 15px 12px rgba(0,0,0,0);}

/*********************************** SUBNAV ***********************************/

.subnav {position: -webkit-sticky; position: sticky; bottom: 0; background: #fff; border-bottom: 1px solid #222;}
.subnav .container {position: relative; display: flex; align-items: baseline; margin: 0 60px; padding: 10px 0 15px 0;}
.subnav .container .title {font-size: 10px;}
.subnav .container ul {display: flex; align-items: center; margin: 0 15px;} 
.subnav .container ul li {display: inline-block; position: relative; margin: 0 12px; padding: 0 5px 5px 5px; color: rgb(41, 40, 40); transition: all 0.3s ease-in-out 0s;}
.subnav .container ul li:hover {transform: scale(1.2); color: #2dc997; margin: 0 25px;}
.subnav .container ul .phone {font-size: 16px;}
.subnav .container ul .comment {display: inline-block; position: absolute; right: 0; display: flex; align-items: center;}
.subnav .container ul li p {font-size: 6px; position: absolute; right: 0; overflow-wrap: normal; width: 190px; color: rgb(145, 101, 20);}


/******************************** CURRENT INFO ********************************/

.current-info {position: relative; background: url(../asset/images/intro/outechcompanypic2.png) no-repeat; min-height: 840px; background-position: center; background-size: cover; background-attachment: fixed;}

.current-info .ptext {position: absolute; font-size: 38px; width: 100%; height: 100%; color: #fff; z-index: 10; display: flex; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0.4);}

/* info lists */
.current-info .ptext ul {display: flex; justify-content: space-around; align-items: flex-start; padding-top: 160px; }

.current-info .ptext li {display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; margin: 0 34px 40px; box-sizing: border-box; overflow-wrap: break-word;}
/* elements */
.current-info .ptext li i {font-size: 50px;}
.current-info .ptext li .p-title {font-size: 22px; padding: 40px 0 10px;}
.current-info .ptext li .p-content {font-size: 18px; opacity: 0.7;}

/* company profile title */
.company-profile {position: absolute; display: inline-block; z-index: 10; color: #fff; top: 19%; left: 7%; font-size: 24px; letter-spacing: .2em; font-family: 'Oswald', sans-serif;}
.company-profile::before {content: ''; position: absolute; width: 120px; height: 4px; margin-top: -2px; top: 50%; right: -60%; background-position: center center; background-repeat: no-repeat; background-color: #f8b922;}

/******************************** TIMELINE ********************************/

.timeline {position: relative; margin: 60px auto; padding: 140px 0; width: 1000px; box-sizing: border-box;}
/* center line (중앙선) */
.timeline::before {content: ''; position: absolute; left: 50%; width: 2px; height: 1150px; background: #c5c5c5;}
/* TIMELINE title */
.timeline > h1 {position: absolute; left: 50%; transform: translateX(-50%); font-size: 45px; margin-bottom: 40px; top: 30px; font-family: 'Oswald', sans-serif; letter-spacing: .3em; color: rgb(223, 143, 156);}

.timeline ul {margin: 40px 0 0 0; padding: 0;}
.timeline ul li {list-style: none; line-height: normal; position: relative; width: 50%; padding: 10px 40px; box-sizing: border-box;}

/* lines and bullets */
.timeline ul li:nth-child(odd) {float: left; text-align: right; clear: both;}
.timeline ul li:nth-child(odd)::before {content: ''; position: absolute; top: 24px; right: -6px; width: 10px; height: 10px; background: var(--cool-blue); border-radius: 50%; box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);}

.timeline ul li:nth-child(even) {float: right; text-align: left; clear: both;}
.timeline ul li:nth-child(even)::before {content: ''; position: absolute; top: 24px; left: -4px; width: 10px; height: 10px; background: var(--cool-blue); border-radius: 50%; box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);}

/* gaps (간격) */
.content {padding-bottom: 93px;}
/* Texts */
.timeline ul li h3 {margin: 0; padding: 0; font-weight: 600; color:#000; font-size: 31px; overflow-wrap: break-word; }
/* Years */
.timeline ul li .time h4 {margin: 0; padding: 0; font-size: 20px; }
/* Years' box */
.timeline ul li:nth-child(odd) .time {position: absolute; top: 12px; right: -115px; margin: 0; padding: 8px 16px; background: var(--cooler-blue); color: #fff; border-radius: 18px; box-shadow: 0 0 0 3px var(--cooler-blue-shadow);}

.timeline ul li:nth-child(even) .time {position: absolute; top: 12px; left: -115px; margin: 0; padding: 8px 16px; background: var(--cooler-blue); color: #fff; border-radius: 18px; box-shadow: 0 0 0 3px var(--cooler-blue-shadow);}