

:root {
    --mint-green: #2dc997;
    --cool-blue: #e285da;
    --cooler-blue: rgba(84, 151, 228, 1);
    --cooler-blue-shadow: rgba(84, 151, 228, .3);
}

html{scroll-behavior:smooth}

body {position: relative; height: 100%; min-width: 1280px; background: #fff; transition: all 0.6s ease-in-out;}
/*********************************** HEADER ***********************************/
/* header logo (left) */

header {position: relative; top: 0; display: block; text-align: center; height: 70px; border-bottom: 1px solid #fff; background: rgba(0, 0, 0, 0.06); z-index: 1000;}
header:hover {background: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.4);}
header:hover a, header:hover .menu a {color: #000;}

header h1 {position: absolute; left: 50px; top:0;}
header h1 a {display: block; width: 330px; height: 70px; display: flex; align-items: center; justify-content: center; color: #000;}
header h1 a::before {content: ""; position: absolute; width: 82px; height: 86px; background: url(../asset/icons/businesscard.png) no-repeat; background-position: -23px -59px; left: -25px; transform: scale(0.4) translateY(4.5%); padding-right: 10px; margin-right: 10px;}


/* header menu */
header .menu {display: inline-block; position: absolute; right: 50px; top: 0;}
header .menu li {position: relative; float: left;}
header .menu li a {display: block; height: 70px; line-height: 70px; padding: 0 30px; font-size: 17px; color: #000;}
/* menu hover effect */
header .menu li a::before {content: ""; position: absolute; width: 100%; height: 2px; left: 0; bottom: 0; background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); color: #fff; visibility: hidden; transform: scale(0); transition: all 0.3s ease-in-out 0s;}
header .menu li:hover::before, header .menu li:hover > a::before { visibility: visible; transform: scale(1);
}

/* Intro 회사소개 active */
header .menu li:nth-child(2) a::before {visibility: visible; transform: scale(1); height: 3px; background: linear-gradient(to right, #2193b0, #6dd5ed);}

/* dropdown icon */
header .menu li a i {padding-left: 8px;}
header .menu ul .dropdown {display: block; position: absolute; width: 100%; left: 0; margin-top: 1.2px; background: rgb(250, 249, 247); border: 1px solid #fff; visibility: hidden; opacity: 0; transition: all 0.3s ease-in-out 0.2s;}
header .menu ul .dropdown li {position: relative; width: 100%;}
header .menu ul .dropdown li a {display: block; height: 50px; line-height: 50px; transition: all 0.2s ease 0s; font-size: 14px; padding: 0; color: #000;}
header .menu ul .dropdown li a::before {display: none;}
header .menu ul .dropdown li a:hover {background: linear-gradient(to right, #2193b0, #6dd5ed); color: #fff;}
header .menu li:hover .dropdown {visibility: visible; opacity: 1;}


/******************************** TITLEPIC ***********************************/

.bg-shade {background-color:rgba(0, 0, 0, 0.3); /*살짝 투명한 검정으로 배경색*/ width:100%; min-height: 360px; position: absolute;}
/* parallax effect bg */
.titlepic {display: grid; justify-content: center; align-items: center; width: 100%; min-height: 360px; background: url(../asset/images/edm/cnc-edm-machining-1.jpg) 0 -200px  no-repeat; background-position: center; background-size: cover; background-attachment: fixed;}

.titlepic .text {font-size: 38px; width: 100%; color: #fff; z-index: 10;}



/******************************** TARGET-INFO ***********************************/

/* title nav bar */
.target-info {position: relative; min-height: 720px; margin: 0 auto; padding-top: 0px;}
.target-info .category {position: relative; background: #e0aa2b; height: 50px; border-bottom: 4px solid #e5e5e5;}
.target-info .category h2 {position: absolute; height: 100%; left: 18%; font-size: 37px; color: #fff; text-align: center;}
.target-info .category ul {position: absolute; right: 20%; top: 9px;}
.target-info .category ul li {display: inline-block; font-size: 13px;}
.target-info .category ul li a {color: #000000;}
.target-info .category ul li a:hover {color: #fff;}
.target-info .category ul li i {padding: 9px;}

/* contents */
.target-info > img {position: absolute; top: 110px; left: 10%;}
.target-info .content {position: absolute; top:150px; right: 17%; font-size: 18px;  border-top: 2px solid #ecd79b; border-left: 2px solid #e5e5e5; padding: 25px;}
.target-info .content ul li {padding: 5px;}

.target-info a.manual {position: absolute; top: 535px; right: 20%; background: #e0aa2b; padding: 20px; border: 1px solid #e5e5e5; transition: all 0.3s ease-in-out; font-weight: 500; color: #fff;}
.target-info a.manual:hover {opacity: .7;}

/* for RV (img too big) */
.rv > img {left: 2%;}
.rv .content {right: 100px;}
.rv a.manual {right: 5%;}
.rx > img {left: 5%}
.rx .content {right: 10%;}
.rx a.manual {right: 5%;}

/*********************************** SUBNAV ***********************************/

.subnav {position: -webkit-sticky; position: sticky; bottom: 0; background: #fff; border-bottom: 1px solid #222; z-index: 900;}
.subnav .container {position: relative; display: flex; align-items: baseline; margin: 0 60px; padding: 10px 0 15px 0;}
.subnav .container .title {font-size: 10px;}
.subnav .container ul {display: flex; align-items: center; margin: 0 15px;} 
.subnav .container ul li {display: inline-block; position: relative; margin: 0 12px; padding: 0 5px 5px 5px; color: rgb(41, 40, 40); transition: all 0.3s ease-in-out 0s;}
.subnav .container ul li:hover {transform: scale(1.2); color: #2dc997; margin: 0 25px;}
.subnav .container ul .phone {font-size: 16px;}
.subnav .container ul .comment {display: inline-block; position: absolute; right: 0; display: flex; align-items: center;}
.subnav .container ul li p {font-size: 6px; position: absolute; right: 0; overflow-wrap: normal; width: 190px; color: rgb(145, 101, 20);}


/******************************** FOOTER ********************************/

footer .footer {display: block; background: rgb(30, 32, 36); font-size: 0.75rem; color: rgba(255, 255, 255, 0.5); font-weight: 400; text-align: center; padding: 40px 0 30px;}
footer .footer p {display: inline-block; width: 300px; height: 40px; font-size: 20px; font-weight: bold;}

footer .footer ul {padding: 14px 0 14px;}
footer .footer ul li {position: relative; display: inline-block; font-style: 16px; padding: 0 10px;}
footer .footer ul li::after {content: ''; position: absolute; width: 1px; height: 8px; right: 0; top: 50%; margin-top: -4px; background: #70767a;}
footer .footer ul li:last-child::after {display: none;}
address {font-size: 12px; padding-top: 25px; border-top: 1px solid rgba(255, 255, 255, 0.5);}


/* subnav size modification */
@media (min-width: 1281px) and (max-width: 1420px){
    .subnav .container {margin: 0 15px 0 27px}
    .subnav .container ul {margin: 0 7px;}
    .subnav .container ul li {margin: 0 9px; padding: 0;}
    .subnav .container ul li p {font-size: 4px;}
}

@media (max-width: 1280px){
    .subnav .container ul li p {display: none;}
}